@media (max-width: 768px) { 
    header{
        flex-direction: column;
        justify-content: center;
        position: static;
        height: 20vh;
    }

    header img{
        width: 50px;
        margin-left: 0px;
    }

    nav{
        margin-right: 0px;
        margin-top: 15px;
    }

    nav a {
        padding: 7px;
    }

    .first-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 60px;
        height: auto;
    }

    .first-section .imagen-top img{
        display: none;
    }

    .first-section article p {
        margin: 0 auto;
        font-size: 1.1rem;
        width: 80%;
    }

    .btn{
        margin: 60px 5px;
    }

    .second-section{
        height: auto;
        padding: 60px 0;
    }

    .titulos-third-section h2,
    .titulos-fourth-section h2,
    .titulos-fifth-section h2{
        font-size: 1.8em;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .titulos-third-section p,
    .titulos-fourth-section p,
    .titulos-fifth-section p{
        font-size: 0.9em;
        padding: 0 15px;
    }

    .benefits{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .benefits .first-benefit,
    .benefits .second-benefit,
    .benefits .third-benefit{
        width: 90%;
        margin-top: 50px;
    }

    .steps{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        padding: 50px 10px;
    }
    
    .steps .first-step,
    .steps .second-step,
    .steps .third-step,
    .steps .fourth-step{
        width: 90%;
        margin-top: 50px;
    }

    .works{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        padding: 50px 0px;
    }
    
    .works .first-work,
    .works .second-work,
    .works .third-work,
    .works .fourth-work{
        width:90%;
    }

    .sixth-section{
        flex-direction: column;
    }

    .contact-us{
        width: 90%;
    }

    .contact-us h2{
        font-size: 1.8em;
    }

    .contact-us h4{
        font-size: 1em;
    }

    .contact-us .data .data1 img,
    .contact-us .data .data2 img{
        width: 18%;
    }

    .redes img{
        width: 8%;
        margin-left: 20%;
    }

    .map{
        width: 100%;
        height: 40vh;
    }

    footer p{
        font-size: 0.8em;
        text-align: center;
    }
}